[Desktop Entry]
Encoding=UTF-8
Name=Bunto switcher
Comment=Переключатель раскладки клавиатуры
Icon=/usr/share/bunto/flag-white.png
Exec=sudo nice -n -18 python /usr/share/bunto/main.py
Terminal=false
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=0
